* {
    /* border: 1px solid grey;  */
    /* margin: 3px; */
}

html {
    /* background: dimgray; */
    background: dimgray url("https://images5.alphacoders.com/371/thumb-1920-371124.jpg") no-repeat fixed center;
    z-index: 0;
    /* filter: grayscale(100%); */
}

body {
    margin: auto;
    max-width: 80%;
}

h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
}

h3, h4 {
    font-family: 'Bangers', cursive;
}

p {
    padding: 20px;
}

img {
    max-width: 150px;
}

span {
    color: darkslateblue;
}

ul {
    list-style: none;
    padding: 0;
}

.card {
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    min-height: 425px;
    background: lightsteelblue;
}

.card img {
    margin: auto;
}

.card-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.expand, .delete {
    cursor: pointer;
}

.mainContainer {
    background: whitesmoke;
}

.formTitle {
    padding-top: 20px;
    text-align: center;
}

.form {
    margin: 50px auto;
    text-align: center;
    max-width: 400px;
}

.searchBox {
    border-radius: 5px;
    padding: 2px;
    border: none;
}

.btn {
    background: gray;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 5px 5px black;
    box-shadow: 0 5px 10px black;
    margin-top: 15px;
    transition: transform .2s;
}

.btn-primary {
    background: cornflowerblue;
    padding: 2px;
    border-radius: 5px;
    color: black;
    border: none;
    cursor: pointer;
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px black;
    background: cornflowerblue;
}

.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px black;
    background: cornflowerblue;
}

.delete {
    background: indianred;
}

.scrollSection {
    height: 280px;
    background: gray;
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 0;
    border-bottom: 1px double whitesmoke;
}

.scrollSection>div {
    /* make sure the width is honored */
    flex-shrink: 0;
    height: 225px;
}

.scrollSection img {
    cursor: pointer;
    transition: transform .2s;
}

.scrollSection img:hover {
    opacity: 0.9;
    transform: scale(1.1);
    box-shadow: 0 5px 10px black;
}

.imageContainer {
    width: 150px;
    margin: 0 10px;
}

.imageContainer img {
    width: 100%;
}

.scrollSpotlight {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    padding: 20px;
}

.showImageContainer {
    text-align: center;
    width: 25%;
    background: white;
    border-radius: 3px;
}

.showImageContainer img {
    margin: 10px;
    width: 90%;
}

.showDetailsContainer {
    min-height: 250px;
    width: 25%;
    background: white;
    border-radius: 3px;
    padding: 5px;
}

.showDetailsContainer h4 {
    text-align: center;
}

.showDescriptionsContainer {
    min-height: 250px;
    width: 40%;
    background: white;
    border-radius: 3px;
    padding: 5px;
}

.showDescriptionsContainer h4 {
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center;
}

.individualProfiles {
    margin: 20px;
    margin-bottom: 50px;
    padding: 20px;
    background: grey;
    border-radius: 20px;
    width: 40%;
}

.individualProfiles img {
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 200px;
}

.individualProfiles h5 {
    font-family: 'Permanent Marker', cursive;
}

.navContainer {
    display: flex;
    width: 100%;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.nav-item:hover {
    cursor: pointer;
    color: steelblue;
}

.searchContainer {
    padding: 10px;
}

.searchContainer form {
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 5px grey;
}

.header, .profile-header, .form-header, .about-header {
    padding-top: 100px;
}

#footer {
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    background: lightgrey;
    text-align: center;
    color: black;
    padding: 40px;
}

#footer a {
    color: black;
}

#footer a:hover {
    opacity: 0.7;
    color: steelblue;
}

.footer-links {
    padding: 0;
    /* color: white; */
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
}

.footer-links a {
    /* color: white; */
    /* margin-top: 15px; */
    text-decoration: none;
}

.footer-h6 {
    /* color: white; */
    /* margin-top: 15px; */
    text-decoration: none;
    margin-bottom: 0;
    padding: 10px;
}

.footer-links a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.fa-heart {
    margin-bottom: 0;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}
