

<div class="form-header">
    <h1 class="formTitle">Upload Your Comic!</h1>
    <form class="form" ng-submit="ctrl.createItem()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="title">Title (Year) #Issue</label><br/>
                <input class="form-control" type="text" name="title" ng-model="ctrl.title">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="cover">Cover Image URL</label><br/>
                <input class="form-control" type="text" name="cover" ng-model="ctrl.cover">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="description">Description</label><br/>
                <textarea class="form-control" type="text" name="description" ng-model="ctrl.description" rows="8" col="80"></textarea>
            </div>
        </div>
        <button class="btn" type="submit">Add Comic</button>
    </form>
</div>
