<div class="bodyContainer">
    <div class='header'>
        <h1>Marvel App!!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <!-- scrollSection -->
    <div class="carousel scrollSection">
        <div class='imageContainer' ng-repeat="comic in ctrl.gotRandomComics">
            <img ng-click="ctrl.addToShow($index)" ng-src="{{comic.images[0].path}}" title="{{comic.title}}"/>
        </div>

    </div>

    <div ng-if="ctrl.showComics" class="scrollSpotlight ">
        <div ng-repeat="show in ctrl.showArray">
            <img ng-src="{{show.images[0].path}}" title="{{show.title}}"/>
            <div>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card text-center" style="width: 20rem;" ng-repeat='item in ctrl.gotComics'>
            <h5 class="card-title">{{item.title}}</h5>
            <img ng-src="{{item.images[0].path}}"/>
            <!-- <p class="card-text">{{item.description}}</p> -->
            <button class="btn" type="submit" ng-click="ctrl.addComic(item)">Add Comic</button>
        </div>
    </div>
</div>
