<h4 class="nav-item" ng-click="ctrl.changeInclude('home')">Home</h4>
<h4 class="nav-item" ng-click="ctrl.changeInclude('create')">Upload</h4>
<div class='searchContainer'>
    <form class="form-inline" ng-submit='ctrl.getComic()'>
        <div class="form-group mx-sm-1 mb-1">
            <select class="form-control">
                <option>Comics</option>
                <option>Characters</option>
                <option>Series</option>
                <option>Stories</option>
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-1">
            <input class="form-control" type="text" placeholder="Comic Title" ng-model='ctrl.comicTitle' />
        </div>
        <button class="btn-primary mb-1" type="submit">Search</button>
    </form>
</div>
<h4 class="nav-item">About</h4>
<h4 class="nav-item" ng-click="ctrl.changeInclude('profile')">Login</h4>
